<div class="pageTitle">
  <h1>Edit <%= @picture.caption %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @picture.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @picture.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @picture.object %>"/>
    <ul>
      
          <li>
            <label for="picture[caption]" class="fieldLabel">Caption</label>
            <input type="text" name="picture[caption]" value="<%= @picture.caption %>" <%= placeholder( "Caption" ) %> />
          </li>
		  image uri: <%= @picture.image_uri %>
		  <img src="<%=Rho::RhoApplication::get_blob_path(@picture.image_uri)%>" width='300px'></img>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>
